.body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-left: 30%;
  padding-right: 30%;
  color:#777777;
  background-color:#ffffff;
  border-color: #dddddd;
  
}
.container{
    width:1000px;
    position: absolute; 
    left:10%;
    top:20%;
    font-size: x-small;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border:2px solid grey;
}

.footer {
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color:#666666;
  text-align: center;
}
h1{
  font-family:Georgia, Times, "Times New Roman", serif;
  text-align:justify;
  border-color: #cccccc;
  color:teal;
  margin-top:20px;
  padding: 15px;
}
header{
  font-family:Georgia, Times, "Times New Roman", serif;
  color:white;
  padding: 50px 100px 50px 100px;
  background-color:#4aaaa5;
  font-size: x-large;
}
p{
  font-size: 1.2 rem;
  padding :15px;
}
img{
  float:left;
}
.box{
  border: 0.5;
  color:grey;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 250px;
  background-color:teal;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 570px){ 
  .container {
      
      width: 300px;
      position: absolute;
    left: 10%;
    top: 20%;
    font-size: x-small;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border:1px grey;
    }
  }

 .jumbotron{
   background-color: white;
   padding:0;
 }
