.body{
  padding-left: 30%;
  padding-right: 30%;
  color:#777777;
  background-color:#ffffff;
  border-color: #dddddd;
  
}
.container{
    width:960px;
    position: absolute; 
    left:30%;
    top:20%;
    /* border : solid black 5px; */

   
}

.footer {
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color:#666666;
  text-align: center;
}
h1{
  border-color: #cccccc;
  color:teal;
  margin-bottom: 30px;
  padding: 10px;
}
header{
  
  color:white;
  padding:50px;
  background-color:#4aaaa5;
}
p{
  padding :20px;
}